<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Booking</title>
    <!-- Include Tailwind CSS from a CDN -->
    <link rel="stylesheet" href="output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body class="bg-teal-100 bg-gradient-to-b from-teal-100 to-teal-500 ...">
    <div class="container mx-auto mt-8 p-4">
        <div class="bg-teal-50 shadow-md rounded px-10 pt-6 pb-8 mb-4">
            <h2 class="text-3xl text-teal-700 font-bold mb-6">Appointment Scheduling</h2>
            <form action="#" method="POST">
                <div class="flex justify-evenly">
                    <div class="mb-4">
                        <label class="block text-teal-700 text-lg font-bold mb-2" for="name">
                            Name
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-teal-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="Your Name">
                    </div>
                    <div class="mb-4">
                        <label class="block text-teal-700 text-lg font-bold mb-2" for="name">
                            Age
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-teal-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="Your Age">
                    </div>
                    <div class="mb-4">
                        <label class="block text-teal-700 text-lg font-bold mb-2" for="name">
                            Phone No.
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-teal-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="Your Phone No.">
                    </div>
                </div>
                <div class="flex justify-evenly">
                    <div class="mb-4">
                        <label class="block text-teal-700 text-lg font-bold mb-2" for="name">
                            Gender
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-teal-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="Your Gender">
                    </div>
                    <div class="mb-4">
                        <label class="block text-teal-700 text-lg font-bold mb-2" for="email">
                            Email
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-teal-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="Your Email">
                    </div>
                    <div class="mb-4">
                        <label class="block text-teal-700 text-lg font-bold mb-2" for="email">
                            Height
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-teal-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="Your Height">
                    </div>
                </div>
                <div class="flex justify-evenly">
                    <div class="mb-4">
                        <label class="block text-teal-700 text-lg font-bold mb-2" for="email">
                            Weight
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-teal-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="Your Weight">
                    </div>
                    <div class="mb-4">
                        <label class="block text-teal-700 text-lg font-bold mb-2" for="email">
                            Weight
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-teal-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="Your Weight">
                    </div>
                    <div class="mb-4">
                        <label class="block text-teal-700 text-lg font-bold mb-2" for="email">
                            Weight
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-teal-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="Your Weight">
                    </div>
                </div>
                <div class="mb-4">
                    <label class="block text-teal-700 text-lg font-bold mb-2" for="message">
                        Address
                    </label>
                    <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-teal-700 leading-tight focus:outline-none focus:shadow-outline" id="message" rows="4" placeholder="Your Address"></textarea>
                </div>
                <div class="mb-4">
                    <button class="bg-teal-500 hover:bg-teal-700 text-white font-bold font-BalooBhai2  py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>
