<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Booking</title>
    <!-- Include Tailwind CSS from a CDN -->
    <link rel="stylesheet" href="output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body class="bg-teal-100 bg-gradient-to-b from-teal-100 to-teal-500 ...">
    <div class="container mx-auto mt-8 p-4">
        <div class="bg-teal-50 shadow-md rounded px-10 pt-6 pb-8 mb-4">
            <h2 class="text-3xl text-teal-700 font-bold mb-6">Appointment Scheduling</h2>
            <form action="#" method="POST">
                <div class="flex justify-evenly">
                    <div class="mb-4">
                        <label class="block text-teal-700 text-lg font-bold mb-2" for="name">
                            Name
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-teal-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="Your Name">
                    </div>
                    <div class="mb-4">
                        <label class="block text-teal-700 text-lg font-bold mb-2" for="name">
                            Age
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-teal-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="Your Age">
                    </div>
                    <div class="mb-4">
                        <label class="block text-teal-700 text-lg font-bold mb-2" for="name">
                            Phone No.
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-teal-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="Your Phone No.">
                    </div>
                </div>
                <div class="flex justify-evenly">
                    <div class="mb-4">
                        <label class="block text-teal-700 text-lg font-bold mb-2" for="name">
                            Gender
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-teal-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="Your Gender">
                    </div>
                    <div class="mb-4">
                        <label class="block text-teal-700 text-lg font-bold mb-2" for="email">
                            Email
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-teal-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="Your Email">
                    </div>
                    <div class="mb-4">
                        <label class="block text-teal-700 text-lg font-bold mb-2" for="email">
                            Height
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-teal-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="Your Height(in cm)">
                    </div>
                </div>
                <div class="flex justify-evenly">
                    <div class="mb-4">
                        <label class="block text-teal-700 text-lg font-bold mb-2" for="email">
                            Weight
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-teal-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="Your Weight (in kg)">
                    </div>
                    <div class="mb-4">
                        <label class="block text-teal-700 text-lg font-bold mb-2" for="email">
                            Weight
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-teal-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="Your Weight">
                    </div>
                    
                    <div class="mb-4">
                        <label class="block text-teal-700 text-lg font-bold mb-2" for="email">
                            Weight
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-teal-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="Your Weight">
                    </div>
                </div>
                <div class="flex justify-evenly font-semibold  text-teal-700 ">
                    <div class="mb-4 ">
                        <label class="block text-teal-700 text-lg font-bold mb-2" for="email">
                            Types of Pain
                        </label>
                        <select name="fruits" multiple="multiple" class="block appearance-none hover:scale-105  w-full bg-teal-50 border-2 border-teal-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                            <option value=" chest_pain">Chest Pain</option>
                            <option value=" abdominal_pain">Abdominal Pain</option>
                            <option value=" back_pain">Back Pain</option>
                            <option value=" muscle_pain">Muscle Pain</option>
                            <option value=" joint_pain">Joint Pain</option>
                            <option value=" belly_pain">Belly Pain</option>
                            <option value=" headache">Headache</option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <label class="block text-teal-700 text-lg font-bold mb-2" for="email">
                            Eye Problems
                        </label>
                        <select name="fruits" multiple="multiple" class="block appearance-none hover:scale-105 w-full bg-teal-50 border-2 border-teal-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                            <option value="Blurred & distorted vision">Blurred vision</option>
                            <option value="Redness of Eye">Redness of Eye</option>
                            <option value="Yellowing of Eye">Yellowing of Eye</option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <label class="block text-teal-700 text-lg font-bold mb-2" for="email">
                            Loss of
                        </label>
                        <select name="fruits" multiple="multiple" class="block appearance-none hover:scale-105 w-full bg-teal-50 border-2 border-teal-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                            <option value="Apetite">Apetite</option>
                            <option value="Balance">Balance</option>
                            <option value="Smell">Smell</option>
                            <option value="Strength">Strength in limbs</option>
                        </select>
                    </div>
                </div>
                <div class="flex justify-evenly font-semibold  text-teal-700 ">
                    <div class="mb-4">
                        <label class="block text-teal-700 text-lg font-bold mb-2" for="email">
                            Other 1
                        </label>
                        <select name="fruits" multiple="multiple" class="block appearance-none hover:scale-105 w-full bg-teal-50 border-2 border-teal-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                            <option value="Vomitting">Vomitting</option>
                            <option value="Chills/Shivering">Chills/Shivering</option>
                            <option value="Cough">Cough</option>
                            <option value="Fatigue">Fatigue</option>
                            <option value="High fever">High fever</option>
                            <option value="Nausea">Nausea</option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <label class="block text-teal-700 text-lg font-bold mb-2" for="email">
                            Other 2
                        </label>
                        <select name="fruits" multiple="multiple" class="block appearance-none hover:scale-105 w-full bg-teal-50 border-2 border-teal-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                            <option value="Acidity">Acidity</option>
                            <option value="Diarrhea">Diarrhea</option>
                            <option value="Itching">Itching</option>
                            <option value="Dizziness">Dizziness</option>
                            <option value="Breathlessness">Breathlessness</option>
                            <option value="Painful walking">Painful walking</option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <label class="block text-teal-700 text-lg font-bold mb-2" for="email">
                            Other 3
                        </label>
                        <select name="fruits" multiple="multiple" class="block appearance-none hover:scale-105 w-full bg-teal-50 border-2 border-teal-500  px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                            <option value="Stiff neck">Stiff neck</option>
                            <option value="Fast heart rate">Fast heart rate</option>
                            <option value="Lethargy">Lethargy</option>
                            <option value="Irregular sugar level">Irregular sugar level</option>
                        </select>
                    </div>
                </div>
                <div class="mb-4">
                    <label class="block text-teal-700 text-lg font-bold mb-2" for="message">
                        Address
                    </label>
                    <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-teal-700 leading-tight focus:outline-none focus:shadow-outline" id="message" rows="4" placeholder="Your Address"></textarea>
                </div>
                <div class="mb-4">
                    <button id="ApptConfirm" type="button" class="bg-teal-500 hover:bg-teal-700  text-teal-100 font-bold font-BalooBhai2  py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!--Footer-->
    <div  class="flex flex-col text-teal-500 bg-teal-900 p-16 text-sm py-6 mx-auto mt-20 h-max items-center justify-center font-sans" id="footer">
        ©BYTE SCRAPERS All rights reserved 2023
    </div>
</body>

<script src="script.js"></script>

<script>
    // Get a reference to the button element
    var redirectButton = document.getElementById("ApptConfirm");
  
    // Add a click event listener to the button
    redirectButton.addEventListener("click", function() {
      // Redirect to the new HTML file
      window.location.href = "End.html";
    });
  </script>

</html>
