<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>End Page</title>
    <link rel="stylesheet" href="output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body class="bg-teal-50">
    <div class="container px-10 py-6 bg-gradient-to-b from-teal-50 to-teal-300 ... mx-auto  h-screen">
        <h2 class="text-4xl text-teal-700 p-4 font-bold">Personal Information</h2>
        <form action="#" method="GET">
            <div class="flex justify-evenly p-6 text-2xl">
                <div class="mb-4 ">
                    <span class=" text-teal-700">Name : </span>
                    <span class="text-black">xxx</span>
                </div>
                <div class="mb-4">
                    <span class=" text-teal-700">Age : </span>
                    <span class="text-black">xxx</span>
                </div>
                <div class="mb-4">
                    <span class=" text-teal-700">Phone No. : </span>
                    <span class="text-black">xxx</span>
                </div>
            </div>
        </form>
        <h2 class="text-4xl text-teal-700 p-4 font-bold">Doctors's Information</h2>
        <form action="#" method="GET">
            <div class="flex justify-evenly p-4 text-2xl">
                <div class="mb-4 ">
                    <span class=" text-teal-700"> Dcotor's Name : </span>
                    <span class="text-black">xxx</span>
                </div>
                <div class="mb-4">
                    <span class=" text-teal-700">Department : </span>
                    <span class="text-black">xxx</span>
                </div>
                <div class="mb-4">
                    <span class=" text-teal-700">Qualification and Years of Experience : </span>
                    <span class="text-black">xxx</span>
                </div>
            </div>
        </form>
        <h2 class="text-4xl text-teal-700 p-4 font-bold">Booking Details</h2>
        <form action="#" method="GET">
            <div class="flex justify-evenly p-4 text-2xl">
                <div class="mb-4 ">
                    <span class=" text-teal-700"> Date : </span>
                    <span class="text-black">xxx</span>
                </div>
                <div class="mb-4">
                    <span class=" text-teal-700">Time : </span>
                    <span class="text-black">xxx</span>
                </div>
                <div class="mb-4">
                    <span class=" text-teal-700">Room : </span>
                    <span class="text-black">xxx</span>
                </div>
                <div class="mb-4">
                    <span class=" text-teal-700">Building : </span>
                    <span class="text-black">xxx</span>
                </div>
            </div>
        </form>
        <div class="mb-4">
            <p>Contact for more information : </p>
        </div>
    </div>
</body>
</html>
