<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <title>Home</title>
</head>
<body class=" bg-teal-50">
    <nav class="bg-teal-500 py-6 px-4 flex">
        <ul class=" text-white text-lg flex space-x-6 font-BalooBhai2 ml-4">
            <li class="hover:font-semibold hover:cursor-pointer">Home</li>
            <li class="hover:font-semibold hover:cursor-pointer">Appointment Scheduling</li>
            <li class="hover:font-semibold hover:cursor-pointer">Hospitals</li>
            <li class="hover:font-semibold hover:cursor-pointer"><a href="#about">About</a></li>
            <li class="hover:font-semibold hover:cursor-pointer"><a href="#contact">Contact</a></li>
        </ul>
    </nav>

    <!--Hero Section-->
    <div class="container flex px-10 py-24 bg-gradient-to-b from-teal-50 to-teal-400 ... mx-auto mt-16 h-max text-teal-500  border-teal-900">
        <div class="w-2/3 mx-10">
            <div class="flex justify-evenly items-center py-10">
                <p class="font-BalooBhai2 font-bold text-4xl mx-10 px-10 py-6 text-gradient">Empowering and Elevating Your Healthcare Experience: AI-Driven Doctor Appointments</p>
                <img class="py-6" src="/img/doctors1.jpg" alt="logo" width="350">
            </div>
            <div class="flex justify-start px-10 py-4 mx-10">
                <button class="text-white bg-teal-700 hover:bg-white hover:text-teal-700 border-none border-teal-700 rounded-md px-10 py-4">Book an Appointment Now</button>
            </div>
        </div>
    </div>

    <!--About Us-->
    
    <div class="flex flex-col text-white bg-teal-500 container px-10 py-28 mx-auto mt-20 h-max items-center justify-center font-BalooBhai2 border-2 border-teal-500 rounded-md " id="about">
        <div class="flex flex-col items-center">
            <h1 class="text-4xl font-bold py-6">About Us</h1>
            <p class="text-lg py-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi enim deserunt sapiente ab ullam necessitatibus culpa rerum quia voluptates corrupti ipsa nesciunt eius alias, soluta quasi, praesentium maxime nemo dolorum nihil nam eveniet odio dolor saepe? Commodi hic neque ratione necessitatibus qui fuga accusamus tempore asperiores unde odit! Enim in harum tempore optio voluptas laboriosam, praesentium debitis tempora nemo corporis consequatur neque quidem, dolores sed eligendi ducimus itaque doloribus qui esse nihil molestias, ut temporibus? Itaque repellat temporibus officiis eveniet.</p>
        </div>
    </div>

     <!--Contact Us-->
    
    <div class="flex flex-col p-16 text-lg container px-10 py-40 mx-auto mt-20 h-max items-center justify-center font-sans border-2 border-teal-900" id="contact">
            <h2>Feel Free to Contact Us</h2>
            <!-- Helpline no-->

            <!--Mail id-->

            <!--Social Media-->

            </div>

</body>
</html>
