<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="output.css">
    <title>Login Page</title>
</head>
<body >
    <form  action="/" class="flex h-screen items-center justify-center bg-gradient-to-b from-teal-50 to-teal-400 ...">
        <div class="right flex flex-col bg-white rounded-lg p-8 w-1/4 border-2 border-black-600">
            <input class="px-4 h-12 my-2 border border-1 outline-blue-600  border-gray-200 rounded-lg"  type="text" placeholder="Email address">
            <input class="px-4 h-12 my-2 border border-1 outline-blue-600  border-gray-200 rounded-lg" type="password" placeholder="Password">
            <button class="btn hover:bg-teal-700 bg-teal-500 my-2 py-3 text-white font-bold rounded-md">Log In</button>
            <span class="text-center text-teal-600 my-2 text-sm cursor-pointer hover:underline">Forgotten password?</span>
            <hr class="my-2">
            <button class="btn hover:bg-teal-700 bg-teal-500 my-2 py-3 text-white font-bold rounded-md w-fit mx-auto px-4 ">Sign up</button>
        </div>
    </form>
</body>
</html>
